<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="dfpkt" class="com.nt.replacer.FlipkartDiscount"/>

<bean id="fpkt" class="com.nt.service.Flipkart">
<replaced-method name="CalculateBIll"  replacer="dfpkt">
<arg-type>int</arg-type>
<arg-type>int</arg-type>

</replaced-method>


</bean>

</beans>
