<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
           <!-- spring bean config -->
           <!-- depenfdent class config as a spring -->
           <bean id="dt"  class ="java.util.Date" />
           
            <bean id="dt1"  class ="java.util.Date" >
            <property name="year" value="2020"></property>
           <property name="month" value="10"></property>
           <property name="date" value="8"></property>
           </bean>
           
           
           <!-- target class as spring bean -->
           <bean id="wmg"  class="com.nt.beans.WishMassageGenerator">
           <constructor-arg name="date" ref="dt"/>  <!-- Constructor Injection -->
          <property name="date" ref="dt1"/> <!--  Setter Injection -->
          </bean>
          
          <bean id="st" class="com.nt.beans.Student">
          <constructor-arg name="sno" value="101"/>
          <constructor-arg name="sname" value="Raja"/>
       <!--    <constructor-arg name="course" value="CJ"/>
          <constructor-arg name="sadd" value="hyd"/>
          <constructor-arg name="fee" value="2500.0"/> -->
          
          <!-- For Setter Injection -->
        <!--   <property name="sno" value="101"/>
          <property name="sname" value="rani"/> -->
          <property name="course" value="Adv java"/>
      <!--     <property name="sadd" value="JAL"/> -->
          <property name="fee" value="3500.0"/>
          
          </bean>
          
           
           </beans>